
#contenedor{
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}

#imagensitio{
    background-color: black;
    width: 40%;
    float: left;
    background-size: contain;
}
 

header  {
    background-color: black; 
}

header nav ul{
    list-style-type: none;
    float: right;
    margin-right: 30px;
    margin-top: -50px;
}

header nav ul li{
    color: white;
    display: inline-block;
    font: bold;
    background-color: gray;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 12px;
    padding: 6.5px;
    margin-left: 15px;
}

header a{
    color: white;
}

header nav ul li a:link{
    text-decoration: none;
}

#Hdatos{
    float: right;
    margin-top: -200px;
    margin-right: -420px;
}

nav {
    width: 60%;
    height: 229px;
    float: right;
    background-color: black;
}

nav p{
    color: white;
    margin-top: 20px;
    text-align: left;
    font-size: 35px;
}

section{
    
    width: 100%;
    background-color: lightgrey;
}

#imagenPrincipal img{
    width: 100%;
}

#formulario{
    width: 35%;
    float: left;
    background-color: lightgrey;
    height: 100%;
}

#formulario h1{
    text-align: center;
}

#formulario table{
    border: 1px gray;
}

#formulario table tr .colum1{
    background-color: lightskyblue;
    font-size: 18px;
    font: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#formulario table tr td{
    font: bold;
    font-size: 15px;
    padding: 10px;
}

#formulario table tr td input{
    width: 63%;
    padding: 4px;
    margin-left: -30px;
    text-align: left;
}

#formulario form #botones input{
    padding: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 130px;
    border-radius: 5px;
    background: linear-gradient(180deg, #65bce8 0%, #306485 100%);
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: 900;
}

#formulario form #botones input:hover{
    background: linear-gradient(180deg, #fbde74 0%, #ff9900 100%);
    transition: all .3s;
}

#relleno{
    background-color: lightgray;
    width: 65%;
    height: auto;
    float: right;
}

#relleno img{
    width: 100%;
}
section table {
    width: 100%;
    padding-left: 30px;
    border-collapse: collapse;
    border-right: 1px black;
    border-top: transparent;
    border-bottom: transparent;
    border-left: 1px black;
    border-style: solid ;
    text-align: center;
}


section table tr th {
    border-bottom: 2px firebrick;
    border-style: dotted;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 50px;
}

section table tr th img{
    float: left;
    margin-left: 20px;
}

section table tr td a{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;   
    border-radius: 10px;
    font: bold;
    border-style: none;
    background-color: orange;
    padding: 6.5px;
    text-decoration: none;
}

section table tr td p{
    font: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: justify;
    margin-left: 17px;
    margin-top: 8px;
}


footer{
    clear: both;
    float: left;
    background-color: black;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    color: white;
}

#footerIzq{
    float: left;
    width: 50%;
    border-color: white;
    border-style: dashed;
    border-bottom: transparent;
    border-top: transparent;
    border-left: transparent;
}

#footerIzq #correo{
    float: left;
    margin-left: 10px;
    width: 40%;
}

#footerIzq #telefono {
    float: left;
    margin-right: 15px;
    width: 29%;
}
#footerDer{
    float: right;
    width: 49%;
    text-align: left;
}

#footerDer h1{
    text-align: center;
}

#footerDer ul li{
    display: inline-block;
    margin-left: 50px;
    padding-left: 50px;
}
#footerDer ul li a{
    color: white;
}
